body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background: rgb(230, 55, 172);
    color: white;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    font-size: 22px;
    line-height: 24px;
}

#content {
    margin:2%;
    padding:5px;
    border:2px solid #d0d0d0;
    background: white;
    color: rgb(14, 30, 37);
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgb(14 30 37 / 16%);
}

.mpio {
    stroke: #fff;
    stroke-width: 0.75px;
}
.mpio:hover{
  opacity: .6;
}

.d3-tip {
  line-height: 1;
  padding: 12px;
  background: rgba(43,43,43, 0.8);
  color: #fff;
  border-radius: 2px;
}